.app{
    padding: 20px;
    background: lightseagreen;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1{
	text-align: center;
}

.deck{
	width: 125px;
	height: 200px;
	background-image: url(./red-56.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 20px;
}

.hand{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}