.card{
    display: flex;
    width: 130px;
    height: 200px;
    background: white;
    border: 1px solid black;
    justify-content: center;
}

.card.red{
    color: red;
}

.card.black{
    color: black;
}

.card.picked{
    border: 5px solid gold;
}