.card{
    width: 100px;
    height: 200px;
    background: white;
    border: 1px solid black;
}

.card.red{
    color: red;
}

.card.black{
    color: black;
}

.card.picked{
    border: 1px solid blue;
}